on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:
  # PARTIE CI  
  ci-tests:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v4
    - name: Set up Python 3.13
      uses: actions/setup-python@v5
      with:
        python-version: "3.13"
    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip
        pip install -e .
        pip install pytest black pylint radon
    - name: Lint & Format
      run: |
        black --check src/ tests/
        pylint src/
    - name: Metrics
      run: |
        radon cc src/ -a
        radon mi src/
    - name: Test
      run: pytest tests/

  # PARTIE CD  
  build:
    name: Build package
    runs-on: ubuntu-latest
    needs: ci-tests 
    steps:
    - uses: actions/checkout@v4
    - name: Set up Python
      uses: actions/setup-python@v5
      with:
        python-version: "3.13"
    - name: Install build tools
      run: python -m pip install build twine
    - name: Build standard package
      run: python -m build
    - name: Check package structure
      run: twine check dist/*
    - name: Upload package
      uses: actions/upload-artifact@v4
      with:
        name: python-package-distributions
        path: dist/

  deploy-testpypi:
    name: Publish to TestPyPI
    runs-on: ubuntu-latest
    needs: build
    # Se lance uniquement sur la branche main 
    if: github.ref == 'refs/heads/main'
    steps:
    - uses: actions/download-artifact@v4
      with:
        name: python-package-distributions
        path: dist/
    - name: Publish package to TestPyPI
      uses: pypa/gh-action-pypi-publish@release/v1
      with:
        repository-url: https://test.pypi.org/legacy/
        password: ${{ secrets.TESTPYPI_TOKEN }}